{% extends "conteneur.html" %}
{% block afternav %}
{% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}
<h1>Bienvenue sur l'application Herbarum Vivae Eicones!</h1>
<div class="container">
	<div class="row">
		<div class="col-12">
			<p>Cette application propose de donner un aperçu de l'ouvrage <em>Herbarum Vivae Eicones</em>, ouvrage de botanique réalisé par Otto Brunfels, paru en trois tome entre 1530 et 1536.</lb>
			Cette initiative fait suite à un master recherche en lettres classiques ayant pour but l'édition et la traduction de certains morceaux choisis de cet oeuvre. L'auteur et son travail sont présentés dans les pages de l'à propos.</p>

			<p>Dans les pages qui suivent, l'utilisateur peut parcourir l'ouvrage, en abordant ce dernier sous plusieurs angles : 
			<ul>
				<li>les sources : Brunfels cite les différents auteurs et ouvrages qu'il cite, respectant scrupuleusement la propirété intellectuelle. Les auteurs sont présentés dans la galerie des auteurs, chaque lien renvoyant vers la biographie de l'auteur concerné</li>
				<li>les plantes : l'ouvrage est divisé en différentes rhapsodies, concernant chacune une plante. La galerie des plantes vise, à terme, à offrir un panorama des plantes traitées dans l'ouvrage.</li>
            <li>les textes : un accès inédit au texte latin sous condition d'inscription. Ces textes sont accessibles depuis les notices des auteurs, ou depuis la galerie des plantes. L'utilisateur créé pour le test a pour login `<code>JohnLennon</code>`, le mot de passe : <code>beatles</code></li>
			</ul>
			<p>Il est également possible de faire une recherche directement par la barre de recherche rapide, afin de trouver directement des auteurs ou des plantes déjà répertoriés. </p>
		</div>
	</div>
</div>
{% endblock %}